
/* temporary reset and body margin: CChat is designed to be placed in an existing web page */
html * {margin:0; padding:0;}
body {margin:0.8em;}
/* */

noscript p {width:203px; margin:0 0 10px 0; color:#c00; font-size:0.8em;}

div#chatboxcontainer {font:0.75em verdana,arial,helvetica,sans-serif; width:226px;}
div#title {font:9px arial,helvetica,sans-serif;}
div#chatbox {width:203px; height:203px; margin-bottom:8px; padding:10px 10px 0 10px; overflow:auto;}
div#error {clear:both; font-size:0.9em; color:#c00; padding-top:8px; min-height:18px;}
div#chatboxinput input {display:block;}
div#remcharcontainer {font-size:0.8em; color:#ccc; margin-bottom:3px;}

input#name, input#pw, input#email {width:220px; margin-bottom:5px;}
input#name, input#pw, input#email, textarea#message, input#chatsubmit, input#decrypt {padding:2px;}
input#chatsubmit {margin-bottom:3px; float:left;}
input#decrypt {margin-bottom:3px; float:right;}
input#chatsubmit:hover, input#decrypt:hover {cursor:pointer; background:#390; color:#fff;}

textarea#message {font:1em verdana,arial,helvetica,sans-serif; width:220px; height:100px; overflow:auto;} /* font:1.1em for Linux */

.curved {border:1px solid #39f; border-radius:7px; background:linear-gradient(to bottom, #fff, #f0f8ff 100%); /* also defined in /js/cchat.js */}
